{% load static %}

<section class="section courses" id="courses" >
      <div class="container">
        <div class="row">
          <div class="col-lg-12 text-center">
            <div class="section-heading">
              <h6>Latest Courses</h6>
              <h2>Latest Courses</h2>
            </div>
          </div>
        </div>
        <ul class="event_filter">
          {% for keys , values in coursefilter.items %}
            {% if keys == "*" %}
              <li>
                <a class="is_active" href="#!" data-filter="*">{{values}}</a>
              </li>
            {% else %}
              <li>
                <a class="is_active" href="#!" data-filter=".{{keys}}">{{values}}</a>
              </li>
            {% endif %}
          {% endfor %}
        </ul>
        <div class="row event_box">
          {% comment %} <div class="col-lg-4 col-md-6 align-self-center mb-30 event_outer col-md-6 design">
            <div class="events_item">
              <div class="thumb">
                <a href="#"><img src="{% static 'indexapp/assets/images/course-01.jpg' %}" alt=""></a>
                <span class="category">Webdesign</span>
                <span class="price"><h6><em>$</em>160</h6></span>
              </div>
              <div class="down-content">
                <span class="author">Stella Blair</span>
                <h4>Learn Web Design</h4>
              </div>
            </div>
          </div>
          <div class="col-lg-4 col-md-6 align-self-center mb-30 event_outer col-md-6  development">
            <div class="events_item">
              <div class="thumb">
                <a href="#"><<img src="{% static 'indexapp/assets/images/course-02.jpg' %}" alt=""></a>
                <span class="category">Development</span>
                <span class="price"><h6><em>$</em>340</h6></span>
              </div>
              <div class="down-content">
                <span class="author">Cindy Walker</span>
                <h4>Web Development Tips</h4>
              </div>
            </div>
          </div>
          <div class="col-lg-4 col-md-6 align-self-center mb-30 event_outer col-md-6 design wordpress">
            <div class="events_item">
              <div class="thumb">
                <a href="#"><img src="{% static 'indexapp/assets/images/course-03.jpg' %}" alt=""></a>
                <span class="category">Wordpress</span>
                <span class="price"><h6><em>$</em>640</h6></span>
              </div>
              <div class="down-content">
                <span class="author">David Hutson</span>
                <h4>Latest Web Trends</h4>
              </div>
            </div>
          </div>
          <div class="col-lg-4 col-md-6 align-self-center mb-30 event_outer col-md-6 development">
            <div class="events_item">
              <div class="thumb">
                <a href="#"><img src="{% static 'indexapp/assets/images/course-04.jpg' %}" alt=""></a>
                <span class="category">Development</span>
                <span class="price"><h6><em>$</em>450</h6></span>
              </div>
              <div class="down-content">
                <span class="author">Stella Blair</span>
                <h4>Online Learning Steps</h4>
              </div>
            </div>
          </div>
          <div class="col-lg-4 col-md-6 align-self-center mb-30 event_outer col-md-6 wordpress development">
            <div class="events_item">
              <div class="thumb">
                <a href="#"><img src="{% static 'indexapp/assets/images/course-05.jpg' %}" alt=""></a>
                <span class="category">Wordpress</span>
                <span class="price"><h6><em>$</em>320</h6></span>
              </div>
              <div class="down-content">
                <span class="author">Sophia Rose</span>
                <h4>Be a WordPress Master</h4>
              </div>
            </div>
          </div>
          <div class="col-lg-4 col-md-6 align-self-center mb-30 event_outer col-md-6 wordpress design">
            <div class="events_item">
              <div class="thumb">
                <a href="#"><img src="{% static 'indexapp/assets/images/course-06.jpg' %}" alt=""></a>
                <span class="category">Webdesign</span>
                <span class="price"><h6><em>$</em>240</h6></span>
              </div>
              <div class="down-content">
                <span class="author">David Hutson</span>
                <h4>Full Stack Developer</h4>
              </div>
            </div>
          
          
          </div> {% endcomment %}

          {% for items in latestcourse %}
            <div class="col-lg-4 col-md-6 align-self-center mb-30 event_outer col-md-6 {{ items.course_id|lower }}">
              <div class="events_item">
                <div class="thumb">
                  <a href="#"><img src="{% static 'indexapp/assets/images/'|add:items.image %}" alt=""></a>
                  <span class="category">{{ items.category }}</span>
                  <span class="price"><h6><em>$</em>{{ items.price }}</h6></span>
                </div>
                <div class="down-content">
                  <span class="author">{{ items.author }}</span>
                  <h4>{{ items.title }}</h4>
                </div>
              </div>
            </div>
          {% endfor %}
        </div>
      </div>
    </section>