<div class="main-banner" id="top">
      <div class="container">
        <div class="row">
          <div class="col-lg-12">
            <div class="owl-carousel owl-banner">
              {% if service %}
                {% for items in banner %}
                  <div class="item item-1">
                    <div class="header-text">
                      <span class="category">{{items.category}}</span>
                      <h2>{{items.heading}}</h2>
                      <p>{{items.description}}</p>
                      <div class="buttons">
                        <div class="main-button">
                          <a href="#">Request Demo</a>
                        </div>
                        <div class="icon-button">
                          <a href="#"><i class="fa fa-play"></i> {{items.text}}?</a>
                        </div>
                      </div>
                    </div>
                  </div>
                {% endfor %}
              {% else %}
                <p>No services available.</p>
              {% endif %}
            </div>
          </div>
        </div>
      </div>
    </div>